{{ attach_library('guest_book/guest_book-style') }}
<div class="guestbook-content_admin">
  <h4>Your feedback, comments, impressions and wishes.</h4>
  {% for row in rows %}
    <div class="guestbook_user_admin">
      <div class="guestbook_header_content_admin">
        <div class="guestbook_name_image_admin">
          <div class="guestbook_name_admin">
            {{ row.name }}
          </div>
          <div class="guestbook_user_data_admin">
            <div class="guestbook_avatar_admin">
              {% if row.avatar.data is null %}
                <img src="/modules/custom/guest_book/files/default_user.png" alt="default_user_image" width="100" height="100">
              {% else %}
                {{ row.avatar }}
              {% endif %}
            </div>
            <div class="guestbook_timestamp_admin">
              {{ row.timestamp |date('M-d-Y H:i:s') }}
            </div>
          </div>
        </div>
        <div class="guestbook_contacts_admin">
          <span>Contacts:</span>
          <div class="guestbook_email_admin">
            <a href="{{ row.email }}" class="guestbook_user_email_admin">{{ row.email }}</a>
          </div>
          <div class="guestbook_telephone_admin">
            <a href="tel:{{ row.telephone }}" class="guestbook_user_telephone_admin">{{ row.telephone }}</a>
          </div>
        </div>
      </div>
      <div class="guestbook_feedback_admin">
        <div class="guestbook_feedback_message_admin">
          <div>Message:</div>
          {{ row.message }}
        </div>
        <div class="guestbook_feedback_image_admin">
          {% if row.uri %}
            <div class="feedback_image_width_admin">
              <a href="{{ row.uri }}" target="_blank" >{{ row.image }}</a>
            </div>
          {% endif %}
        </div>
      </div>

    </div>
    {% if user.hasPermission('administer nodes') %}
      <div class="guestbook_buttons_admin">
        <a href="/admin/guest_book/guestbook-edit/{{ row.id }}" >{{ row.edit }}</a>
        <a href="/admin/guest_book/guestbook-delete/{{ row.id }}" >{{ row.delete }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>
